@model Animal

@{
    ViewData["Title"] = "Delete";
}

<h1>Remover cadastro de Pet</h1>


<div>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.nomeAnimal)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.nomeAnimal)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.racaAnimal)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.racaAnimal)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.dataNascAnimal)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.dataNascAnimal)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.pesoAnimal)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.pesoAnimal)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.tipoAnimal)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.tipoAnimal)
        </dd>
        <dt class = "col-sm-5">
            @Html.DisplayNameFor(model => model.caracteristicasAnimal)
        </dt>
        <dd class = "col-sm-7">
            @Html.DisplayFor(model => model.caracteristicasAnimal)
        </dd>
        <dt class="col-sm-5">
            Foto do Pet
        </dt>
        <dd class = "col-sm-7">
            <img src="@Url.Action("GetFoto", "Animal", new { id = Model.idAnimal})" class="fotoDetails" />
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idAnimal" />
        <input type="submit" value="Remover" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </form>
</div>
