@model IEnumerable<Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>Meus Pets</h1>

<p>
    <a asp-action="Create"><img class="icon" src="~/img/create.png" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.racaAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoAnimal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.racaAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoAnimal)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.idAnimal"><img class="icon" src="~/img/edit.webp" /></a> 
                <a asp-action="Details" asp-route-id="@item.idAnimal"><img class="icon" src="~/img/details.webp" /></a> 
                <a asp-action="Delete" asp-route-id="@item.idAnimal"><img class="icon" src="~/img/delete.webp" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
