@model PetLife.Models.Vacina

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Vacina</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeVacina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeVacina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataAplicacaoVacina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataAplicacaoVacina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.localAplicacaoVacina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.localAplicacaoVacina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataProximaVacina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataProximaVacina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.observacaoVacina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observacaoVacina)
        </dd>
        <dt class="col-sm-2">
            Foto do Pet
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Action("GetFoto", "Animal", new { id = Model.idAnimal})" class="fotoDetails" />
        </dd>
        <dt class = "col-sm-2">
            Cód. do Pet Associado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idAnimal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idVacina" class="btn btn-primary">Editar</a> |
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
