@model PetLife.Models.Medicamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeMed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeMed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoMed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoMed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataInicioMed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataInicioMed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dosagemMed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dosagemMed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.periodoUsoMed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.periodoUsoMed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.intervaloUsoMed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.intervaloUsoMed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.observacoesMed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observacoesMed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idAnimal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idAnimal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.idMed">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
