@model IEnumerable<Medicamento>

@{
    ViewData["Title"] = "Medicamentos";
}

<h1>Medicamentos</h1>

<p>
    <a asp-action="Create"><img class="icon" src="~/img/create.png" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeMed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoMed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataInicioMed)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.intervaloUsoMed)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoMed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataInicioMed)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.intervaloUsoMed)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.idMed"><img class="icon" src="~/img/edit.webp" /></a>
                    <a asp-action="Details" asp-route-id="@item.idMed"><img class="icon" src="~/img/details.webp" /></a>
                    <a asp-action="Delete" asp-route-id="@item.idMed"><img class="icon" src="~/img/delete.webp" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
